.floating-icons {
  position: fixed;
  left: 0;
  bottom: 50px;
  z-index: 100;
  a {
    background: white;
  }
}

.floating-icons-mobile {
  position: fixed;
  z-index: 100;
  right: 0;
  a {
    background: white;
  }
}
